---
- name: "[Image Mode] Check system status and version"
  hosts: httpd-servers
  serial: 1
  tasks:
    - name: Print hostname
      ansible.builtin.debug:
        msg: "Host: {{ inventory_hostname }} is fully functional"

    - name: Print image version
      become: true
      ansible.builtin.shell:
        cmd: bootc status

    - name: Test application
      ansible.builtin.uri:
        url: http://{{ inventory_hostname }}
        status_code:
          - 403
          - 200
