---
- name: "[Image Mode] Check updates and reboot hosts"
  hosts: httpd-servers
  serial: 1
  vars:
    soft_reboot: false
  tasks:
    - name: Fetch bootc updates
      when: soft_reboot == 'false'
      become: true
      community.general.bootc_manage:
        state: latest
      notify: Reboot system

    - name: Upgrade bootc system with soft-reboot
      when: soft_reboot == 'true'
      become: true
      block:
        - name: Apply bootc update
          command: bootc upgrade --soft-reboot=required --apply
          register: bootc_result
          ignore_unreachable: true
          failed_when: >
            bootc_result is defined and
            bootc_result.rc is defined and
            bootc_result.rc != 0
          changed_when: >
            bootc_result is defined and
            bootc_result.stdout is defined and
            "No update available." not in bootc_result.stdout

        - name: Mark changed if reboot caused SSH drop
          set_fact:
            reboot_triggered: true
          when: bootc_result is not defined or
                bootc_result.unreachable is defined
          changed_when: true

      always:

        - name: Wait for system to come back
          wait_for_connection:
            delay: 10
            timeout: 300


    - name: Reboot system if needed
      ansible.builtin.meta: flush_handlers

    - name: Test httpd server
      ansible.builtin.uri:
        url: "http://{{ inventory_hostname }}"
        status_code:
          - 403
          - 200
      delegate_to: localhost

  handlers:
    - name: Reboot system
      become: true
      ansible.builtin.reboot:
